<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

	<title>Listagem de Horários</title>
</head>

<body>
	<nav class="navbar navbar-light bg-light">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">Horários</a>
		</div>
	</nav>

	<main class="container">
		<div class="row">
			<div class="col-sm-12">
				<h1>Listagem de Horários</h1>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12">
				<table class="table">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">Horarios de Saída</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="horario : ${horario}">
							<th scope="row" th:text="${horario.id}"></th>
							<td>
								<a th:text="${horario.horaSaida}" th:href="@{/horario/{id}-horario (id=${horario.id})}"></a>
							</td>
							<td>
								<a th:href="@{/{id}/editar-horario (id=${horario.id})}" class="btn btn-warning">
									Editar
								</a>
								<a th:href="@{/{id}/excluir-horario (id=${horario.id})}" class="btn btn-danger"
									onclick="return confirm('Tem certeza que deseja excluir o horário?');">
									Excluir
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12">
				<a th:href="@{/cadastro-horario}" class="btn btn-primary">Cadastrar novo Horário</a>
			</div>
		</div>
	</main>


	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
		crossorigin="anonymous"></script>
</body>

</html>